{% load staticfiles %}

<html>
    <head> 
        <title>
        </title>
        <script src="{% static "jquery.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body class="">
    {% block "body" %}
    {% endblock %}
    </body>
    <script>
        $(document).ready(function(){
            $('.page-header').on('click', '.logo', function(){
                document.location.href = '{% url "index" %}';
            });
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken",  $('input[name="csrfmiddlewaretoken"]').val());
                    }
                }
            });
        });
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
    </script>

    {% csrf_token %}
</html>
