{% extends "base.html" %}

{% load staticfiles %}
{% block "body" %}
<header class="page-header">
    <table>
        <tbody>
            <tr>
                <td style="width: calc(40px + 1.1em);">
                    <img class="logo" width="40" style="margin-left:1.1em; margin-top:0px;" src="{% static "logo.png" %}">
                </td>
                <td>
                    <h1>
                        DeadPlant –
                        <small>Boards</small>
                    </h1>
                </td>
                <td class="author-cell">
                    <author>
                        {{user.username|title}}
                    </author>
                </td>
            </tr>
        </tbody>
    </table>
</header>

<article class="notice-board">
    <p class="notice-board-action">
    Create a new notice board
    </p>
</article>
{% for board in boards %}
<article class="notice-board" data-url="{% url 'view-notice-board' notice_board_id=board.pk %}">
    <header>
    {{ board.name }}
    </header>
    {% with board.post_set.all as posts %}
        {% for post in posts %}
        <section class="board-post {% if forloop.counter|divisibleby:2 %}right{% else %}left{% endif %}">
            <header>{{post.title}}</header>
            {% if post.thumbnail %}
            <img src="{{post.thumbnail.url}}" />
            {% endif %}
        </section>
        {% endfor %}
    <footer>
    </footer>     
    {% endwith %}
 </article>
{% endfor %}
<script>
    $(document).ready(function(){
        $('body').on('click', '.notice-board', function(){
            var url = $(this).data('url');
            document.location.href = url;
        })
    });
</script>
{% endblock %}